@media (max-width: 1290px) {

	.up__nav li{
		font-size: 28px;
	}
	.btn__border{
		border: 1px solid #fff;
		padding: 2px 45px;
	}
	.main__info h2 {
		font-size: 64px;
		font-weight: 900;
	}
	.main__info h3 {
		font-size: 25px;
		font-weight: 100;
		line-height: 32px;
	}
	.main__info a {
		padding: 2px 45px;
		font-size: 25px;
	}
	.main__info {
		top: 30%;
	}
	.contact__box a{
		font-size: 25px;
		padding: 2px 35px;
		
	}
	.contact__box h4 {
		font-size: 27px;
	}

	.copyright{
		font-size: 30px;

	}

	// *****about*****

	.about__description p{
		font-size: 30px;
	}

	


}