@charset "UTF-8";

@font-face {
	font-family: "Tungsten-Bold";
	src: url("../../fonts/@font-face/561f38b1f4570de0fb8a39d691ab058c.woff") format("woff");
	src: url("../../fonts/@font-face/561f38b1f4570de0fb8a39d691ab058c.woff2") format("woff2");
	font-style: normal;
 }

body{
	font-family: "Tungsten-Bold", sans-serif;
	font-size:32px;
	background-color: #000000;
	color: #fff;

}

.container{
	width: 1440px;
	padding: 0px 15px;
	margin: 0 auto;

}

